*{
	margin: 0;
	border: 0;
	padding: 0;
}

.example-block {
	/* padding: 10px 20px 30px 5px;
			10px верхнее значение 20px правое и нижнее значение 30px левое значение 
	padding: 10px 20px 30px 5px;
			10px верхнее и правое значение и 20px нижнее и левое значение 
	padding: 10px 20px;
			10px стразу применяется к четырем сторонам  
			процентное значение определяется от ширины родителей(в данном случае от окна бразура)
			*/ /* padding: 10%;  */
	/* margin-y можно давать отрицательное значение */
	/* margin: 10px -10px;		
	border: 1px solid #000; */
}
.example-string {
	/* margin and padding не работают со строчным тегами
	margin: 10px;
	padding: 20px; */

	/* border: 1px solid #000; */
}


/* .example-block 
	width: 500px;
	/* height20px занял высоту 200px */
	/* height: 200px;

	border: 1px solid #000; */

.example-string {
	/* не действует на строчный теги */
	/* width: 100px;
	height: 100px;


	border: 1px solid #000; */ 
}

.example-block {
	/* max-height:200px действует от объема текста */
	/* max-height: 200px; */
	/* если добавить много текста , то наш блок без всяких проблем увеличится */
	/* min-height: 200px; */
	/* наш блок ограничился   */
	/* width ширина в себя включает paddind border и не включает margin */
	/* width: 500px;
	padding: 20px;

	border: 1px solid #000; */
}

.example-block {
	/* hidden скрывает все, что находится за пределами блока */
/* overflow: hidden; */
/* oveflow scroll включает в себя грубо говоря скролл теста  */
/* overflow: scroll; */
/* свойство auto подключает полосы прокрутки только тогда, когда они нужны */
/* overflow: auto; */

/* overflow: visible; */
/* max-height: 50px;
border: 1px solid #000; */
}
.example-string {

}

.example-block {
	/* свойство block заставляет элемент показывать как блочный тэг */
	/* из строчного превращается в блочный display block */
	padding: 20px;
	display:block ;
	border: 1px solid #000;
}
.example-string {
	/* dispay iline block элемент остается строчным и занимает ширину равную контенту, все также выстраивается в строку, но на него начинают действовать выше описанные свойства высоты, ширины и отступов */
	display: inline-block;
	/* dispay inline элемент становится строчным, тэг начинается занимать ширину равную контента */
/* dispay inline block занимает ширину контента который в нем, т.е он не разворачивается на всю ширину области, но при это на него действуют отступы, что сверху, что снизу */
	padding: 20px;
	/* указали ширину и она тоже начала на него действовать */
	width: 500px;
	display: none;

	border: 1px solid #000;
}

/* display-none Значение none свойства display используется очень часто. С его помощью можно скрыть элемент, как будто его и не было. Скрытый элемент не отображается и не занимает места на странице. Это свойство применяется при создании выпадающих меню, динамических галерей, переключающихся вкладок и много где еще.  */